MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MLFLOW_S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
AWS_DEFAULT_REGION=ru-1